*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

header{
    height: 75px;
    width: 100%;
    background-color: lightseagreen;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
}

section{
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    background-color: darkcyan;
}